
<div class="container">
  
  <img src="http://img3.wikia.nocookie.net/__cb20140409125015/planetoftheapes/images/f/fd/1396985361008-09-ss036-0180-v157-le1077.jpg" alt="Caesar" height="400" width="600" class="img-responsive img-rounded">

  <br>
  <p>Caesar is an evolved chimpanzee who is the biological son of the late Alpha and the late Bright Eyes, wild chimpanzees from the jungles of the Congo. After the death of his mother, Caesar became the adoptive son of Will Rodman and the later Caroline Aranha. Through Will, Caesar became the adoptive grandson of the late Charles Rodman. Later in life, Caesar goes on to lead an Ape Rebellion before going on to rule as a king/leader over the newly formed ape colony. As a king, he becomes the husband of fellow San Bruno Primate Shelter inmate, Cornelia and the father of two sons, Blue Eyes and a newborn son. Because he is the king of the ape colony, he is the patriarch of the the Royal Ape Family. When humans are rediscovered, Caesar becomes the ape counterpart of Malcolm. He is also the main protagonist of Rise of the Planet of the Apes and Dawn of the Planet of the Apes.</p>

</div>