<div class="jumbotron">
  <h2>Project List</h2>
</div>

<br/>

<div id="projects">
  <%= render @projects %>
</div>

<br />
<br />

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Creat a project
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render "create" %>
      </div>
    </div>
  </div>